body {
	height: 100%;
	margin: 1;
	width: 100%;
}

h1 {
	font-size: 40px;
  font-family: Palatino, 'Palatino Linotype', sans-serif;
}

h5 {
  font-size: 16px;
  font-family: Palatino, 'Palatino Linotype', serif;
}

h6 {
  font-size: 16px;
  font-family: Palatino, 'Palatino Linotype', serif;
  font-weight: bold;
}

h7 {
  font-size: 16px;
  font-family: Palatino, 'Palatino Linotype', serif;
  font-weight: bold;
  text-align: center;
}

p {
	font-size: 2rem;
}
