body {
	height: 100%;
	margin: 1;
	width: 100%;
}

h1 {
	font-size: 40px;
  font-family: Palatino, 'Palatino Linotype', sans-serif;
}

h4 {
  font-family: Palatino, 'Palatino Linotype', serif;
  font-style: italic;

p1 {
  font-size: 16px;
  font-family: Palatino, 'Palatino Linotype', serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

p2 {
  font-size: 16px;
  font-family: Palatino, 'Palatino Linotype', serif;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

p3 {
  font-size: 16px;
  font-family: Palatino, 'Palatino Linotype', serif;
  font-weight: bold;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 100px;
}
